/* Place CSS styles here */
body {
    background-color:#3c4b21;
    background-image: linear-gradient(#3c4b21,#ebcf89);
    background-size: 100% 900px;
    background-repeat: no-repeat;
     font: 1em sans-serif;font-family: "Bungee", sans-serif;
}
img {
    width: 600px;
    margin-right: 16px;
    border: 10px solid #3c4b21;
    border-radius:50px;
    box-shadow:0 2px 15px #3c4b21
}
h2 {
    font-size: 60px;
    text-align: center;
    color: #ebcf89;
}
.title-image {
    text-align: center;

}
a {
    font-size: 20px;
    font-family: "Onest", sans-serif;
}
h3 {
    font-size: 35px;
    text-align: center;
    color: #ebcf89;
}
p {
    font-size: 25px;
    font-family: "Instrument Serif", serif;
    text-align: center;
    color: #ebcf89;
    margin: 50px;
}
.headnote-paragraph {
    background-color: #3c4b21;
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    
}
.ingredients-list {
    background-color: #3c4b21;
    width: 100%;
    padding: 10px 0;
}

h4 { 
    font-size: 20px;
    font-family: 1em sans-serif;font-family: "Bungee", sans-serif;
    color: #ebcf89;

}

.grands h1{
    display: flex;
    flex-direction: column;
    font-size:70px;
    font-family: "Dancing Script", cursive; 
    color: #ebcf89;
    text-align: center;
    margin-bottom: -75px;

}
.header-container{
    background-color: #4e612b;
    padding: 5px 10px;
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow:0 2px 15px #37451e
}
