/* Place CSS styles here */
body {
    background-color: #2b3618;
     font-family: "Bungee", sans-serif;
}
img {
    width: 600px;
    margin-right: 16px;
    border: 10px solid #3c4b21
}
h1 {
    font-size: 60px;
    text-align: center;
    color: #ebcf89;
}
.title-image {
    text-align: center;

}
a {
    font-size: 20px;
     font-family: "Onest", sans-serif;
}
h2 {
    text-align: center;
    color: #ebcf89;
}
p {
    font-size: 20px;
    font-family: "Instrument Serif", serif;
    text-align: center;
    color: #ebcf89;
}
.about-paragraph {
    background-color: #3c4b21;
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;
    
}