/* Header Content*/
.top-banner{
    background-color: #2e3a19; 
    width: 100%;
    height: 35px;             
    display: flex;
    align-items: center;     
    justify-content: center;    
    border-bottom: 1px solid #4e612b; 
    position: relative;
}

.overall-rating{
    position:absolute;
    left: 20px;
    color: #ebcf89;
    font-family: "League Spartan", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rating-label{
    font-size: 10px;
    opacity: 0.8;
    margin-left: 5px;
}

.header-content p {
    margin: 0;             
    padding: 0;
    font-size: 18px;      
    font-family: "League Spartan", sans-serif;
    color: #ebcf89;          
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*start of main content*/
 body::before {
   content: "";
    position: absolute; 
    top: 975px;
    left: 0;
    width: 100%;
    bottom: 0; 

   
    background-image: 
        url('../img/lemonflatV2.png'), 
        url('../img/lemonflatV2.png');

    
    background-size: 100px 100px, 100px 100px; 

   
    background-position: 0px 0px, 40px 40px;

    
    background-repeat: repeat, repeat;

    background-attachment: scroll; 

    /* Yellow Color Overlay */
    filter: invert(85%) sepia(20%) saturate(1000%) hue-rotate(350deg) brightness(100%);

    opacity: 0.1;
    z-index: -3;
    pointer-events: none;
    opacity: 2%;
}
body {
    position: relative;
    background-color: #3c4b21;
    background-image: linear-gradient(#34431a,#ebcf89);
    background-size: 100% 975px;
    background-repeat: no-repeat;
     font: 1em sans-serif;font-family: "Bungee", sans-serif;
}
img {
    width: 600px;
    margin-right: 16px;
    border: 10px solid #3c4b21;
    border-radius:50px;
    box-shadow:0 2px 15px #3c4b21;
    margin-bottom: 34px;
}

/*h1*/

.grands h1{
    display: flex;
    flex-direction: column;
    font-size:60px;
    font-family: "Dancing Script", cursive; 
    color: #ebcf89;
    text-align: center;
    margin-bottom: -75px;

}
.title-image {
    text-align: center;

}
h2 {
    font-size: 60px;
    text-align: center;
    color: #ebcf89;
}
a {
    font-size: 20px;
    font-family: "Onest", sans-serif;
}

p {
    font-size: 35px;
    font-family: "Instrument Serif", serif;
    text-align: center;
    color: #ebcf89;
    margin: 80px;
}

.headnote-paragraph{
    background-color: #3c4b21;
    padding: 5px 10px;
    width: 60%;
    margin: 20px auto;
    border-radius: 50px;
    color: #ebcf89;
    font-family: "Instrument Serif", serif;
    font-size: 25px;
    border:5px solid #4e612b;
    margin-bottom: 34px;
    box-shadow:0 2px 15px #2e3a19;
}
.Mr-Grand p{
    margin-top: -30px;
}

.ingredients-list {
    width: 100%;
    padding: 10px 0;
}
.ingredients-container p {
    font-size: 20px;
    font-family: "Bungee", sans-serif;
    margin-top: 2px;
    margin-bottom: -1px;
}

h3{
     font-size: 35px;
    font-family: 1em sans-serif;font-family: "Bungee", sans-serif;
    color: #ebcf89;
    text-align:center;
    margin-bottom: -50px;
}

h4 { 
    font-size: 24px;
    font-family: 1em sans-serif;font-family: "Bungee", sans-serif;
    color: #ebcf89;
    text-align:left;
    margin-left: 30px;
}
.ingredients-container{
    background-color: #4e612b;
    padding: 5px 10px;
    width: 50%;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow:0 2px 15px #2e3a19;
    color: #ebcf89;
    font-family: "League Spartan", sans-serif;
    font-size: 25px
}
.ingredients-container ul li{
    margin-bottom: 15px;
    margin-right: 15px
}

h5{
    font-size: 24px;
    font-family: 1em sans-serif;font-family: "Bungee", sans-serif;
    color: #ebcf89;
    text-align:left;
    margin-left: 30px;
}
.instructions-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
}

.video-capsule{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: #2e3a19;
    border-radius: 50px;
    padding: 6px 18px;

    text-decoration: none;
    color: #ebcf89 !important;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;

    line-height: 1;
    height: auto;

    cursor: pointer;
    transition: all 0.2 ease;
}

.video-capsule:hover{
background-color: #5a7032;
border-color: #ffffff;
transform: scale(1.01);
color: #fff !important;
}

.video-capsule span{
    position: relative;
    top: 1.5px;
}

.video-capsule svg{
    flex-shrink: 0;
}
.instructions-container{
    background-color: #4e612b;
    padding: 5px 10px;
    width: 50%;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow:0 2px 15px #2e3a19;
    color: #ebcf89;
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    margin-bottom: 75px;
}

.instructions-container ol li{
    margin-bottom: 15px;
    margin-right: 15px;
}


strong{
    font-family: "League Spartan", sans-serif;
    color: #ebcf89;
    font-style: bold;
    font-size: 26px
}

/*comment section*/


.comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
}

.overall-rating-static{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.rating-value{
    font-family: "League Spartan", sans-serif;
    color: #ebcf89;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}
.rating-label-bottom{
    font-family: "League Spartan", sans-serif; 
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 0.8;
    margin-top: 4px;
}
.comment-section {
    background-color: #3c4b21;
    padding: 5px 10px;
    width: 60%;
    margin: 20px auto;
    border-radius: 50px;
    color: #ebcf89;
    font-family: "Instrument Serif", serif;
    font-size: 25px;
    border: 5px solid #4e612b;
    margin-bottom: 34px;
    box-shadow:0 2px 15px #2e3a19;
}


#comment-list {
    padding: 10px 20px; 
}

.comment-item {
    background-color: #4e612b; 
    border: 2px solid #ebcf89;  
    margin: 15px 0;
    padding: 15px;
    border-radius: 25px;     
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 20px;          
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.comment-item:hover {
    background-color: #5a7032; 
    border-color: #ffffff;      
    transform: scale(1.01);     
}
.comment-item{
    position: relative;   
    padding-top: 35px;    
    background-color: #4e612b; 
    border: 2px solid #ebcf89;  
    margin: 15px 0;
    padding: 15px; 
    border-radius: 25px;     
    cursor: pointer;
    transition: all 0.2 ease;
    padding-bottom:30px;
}

.read-more{
    position: absolute;
    bottom: 12px;
    right: 25px;

    font-family: "League Spartan", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ebcf89;

    pointer-events: none;
    opacity: 0.9;
}

.star-rating {
    position: absolute;    
    top: 15px;            
    right: 20px;          
    color: #ebcf89;        
    font-size: 18px;
    letter-spacing: 1px;   
}

/*footer*/

.footer{
    width: 100%;
    height: 50px;             
    display: flex;
    align-items: center;     
    justify-content: center;    
    position: relative;
    opacity: 0%;
}
.footer p{
    opacity: 0%;
}